body:not([mobileVersion]) {
    cursor: none;
}

body:not([mobileVersion]) .custom-cursor {
    cursor: none;
    width: 0.25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 2px rgba(255, 255, 255, 0.75);
    position: fixed;
    pointer-events: none;
    user-select: none;
    z-index: 999;
    transition: left 0.05s, top 0.05s, width 0.2s, background-color 0.3s, border 0.2s, opacity 0.15s, transform 0.2s;
    transform: translate(-50%, -50%) scale(1);
}

body:not([mobileVersion]) .custom-cursor[outPage] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

body:not([mobileVersion]):has(:is(button, a, input[type=submit], input[type=button]):hover) .custom-cursor {
    width: 3%;
    background-color: rgba(182, 2, 253, 0.5);
    border: solid 2px rgba(182, 2, 253, 0.75);
} :is(button, a, input[type=submit], input[type=button]):hover {
    cursor: pointer;
}

body:not([mobileVersion]):has(div.member img.photo:hover) .custom-cursor {
    width: 148px;
}

body:not([mobileVersion]):has(:is(p, h1, h2, h3, h4, h5, h6, text, textarea, input:is([type=text], [type=email], [type=name])):hover) .custom-cursor {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
} body:not([mobileVersion]):has(:is(p, h1, h2, h3, h4, h5, h6, text, textarea, input:is([type=text], [type=email], [type=name])):hover) {
    cursor: inherit;
}