/*----------------DEBUT OUR TEAM------------------------*/
/*section#team {*/
/*    padding: 100px;*/
/*    margin-left: 400px;*/
/*    margin-right: 400px;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/

/*#ourTeam-title p {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    margin-bottom: 100px;*/

/*    font-family: Roboto, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 30px;*/
/*    letter-spacing: 0.1em;*/
/*    color: #18191A;*/
/*}*/

/*section#team :is(h2) {*/
/*    font-family: Roboto, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 30px;*/
/*    letter-spacing: 0.1em;*/
/*    color: #18191A;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*section#team :is(h3) {*/
/*    font-family: Roboto, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 22px;*/
/*    letter-spacing: 0.1em;*/
/*    color: #18191A;*/
/*    margin: 0;*/
/*}*/


/*section#team div.photoContainer {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
/*    justify-content: space-between;*/
/*    place-items: start center;*/
/*    gap: 15px;*/
/*    padding: 25px;*/
/*    box-sizing: border-box;*/
/*    align-items: start;*/
/*    align-content: center;*/
/*    justify-items: center;*/
/*    flex: 1;*/
/*    margin: auto;*/
/*}*/

/*section#team div.photoContainer div.member {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    box-sizing: border-box;*/
/*    width: 200px;*/
/*    text-align: center;*/
/*}*/

/*section#team div.photoContainer div.member img.photo {*/
/*    height: auto;*/
/*    border-radius: 50%;*/
/*    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));*/
/*    transition: 0.25s;*/
/*}*/

/*.team-container {*/
/*    width: 100%;*/
/*}*/

/*----------------FIN OUR TEAM------------------------*/

/*----------------DEBUT MEDIAQUERIES------------------------*/
/*@media only screen and (min-width: 280px) and (max-width: 320px) {*/
/*    section#team {*/
/*        padding: 50px 0 0 0;*/
/*        margin: 0;*/
/*    }*/

/*    #ourTeam-title p {*/
/*        font-size: 22px;*/
/*        margin: 0px 0 50px 0;*/
/*    }*/

/*    section#team div.photoContainer {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*        grid-template-columns: 50px 50px;*/
/*        justify-content: space-around;*/
/*    }*/

/*    section#team div.photoContainer div.member {*/
/*        width: 100px;*/
/*    }*/

/*    .photo {*/
/*        width: 100%;*/
/*    }*/

/*    section#team :is(h2) {*/
/*        font-size: 17px;*/
/*    }*/

/*    section#team :is(h3) {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 321px) and (max-width: 480px) {*/
/*    section#team {*/
/*        padding: 50px 0 0 0;*/
/*        margin: 0;*/
/*    }*/

/*    #ourTeam-title p {*/
/*        font-size: 22px;*/
/*        margin: 0px 0 50px 0;*/
/*    }*/

/*    section#team div.photoContainer {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*        grid-template-columns: 50px 50px;*/
/*        justify-content: space-around;*/
/*    }*/

/*    section#team div.photoContainer div.member {*/
/*        width: 100px;*/
/*    }*/

/*    .photo {*/
/*        width: 100%;*/
/*    }*/

/*    section#team :is(h2) {*/
/*        font-size: 17px;*/
/*    }*/

/*    section#team :is(h3) {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 481px) and (max-width: 736px) {*/
/*    section#team {*/
/*        padding: 50px 0 0 0;*/
/*        margin: 0;*/
/*    }*/

/*    #ourTeam-title p {*/
/*        font-size: 22px;*/
/*        margin: 0px 0 50px 0;*/
/*    }*/

/*    section#team div.photoContainer {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*        grid-template-columns: 50px 50px;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    section#team div.photoContainer div.member {*/
/*        width: 100px;*/
/*    }*/

/*    .photo {*/
/*        width: 100%;*/
/*    }*/

/*    section#team :is(h2) {*/
/*        font-size: 17px;*/
/*    }*/

/*    section#team :is(h3) {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 737px) and (max-width: 1023px) {*/
/*    section#team {*/
/*        padding: 50px 0 0 0;*/
/*        margin: 0;*/
/*    }*/

/*    #ourTeam-title p {*/
/*        font-size: 22px;*/
/*        margin: 0px 0 50px 0;*/
/*    }*/

/*    section#team div.photoContainer {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*        grid-template-columns: 50px 50px 50px;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    section#team div.photoContainer div.member {*/
/*        width: 100px;*/
/*    }*/

/*    .photo {*/
/*        width: 100%;*/
/*    }*/

/*    section#team :is(h2) {*/
/*        font-size: 17px;*/
/*    }*/

/*    section#team :is(h3) {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1024px) and (max-width: 1600px) {*/
/*    section#team {*/
/*        padding: 50px 0 0 0;*/
/*        margin: 0;*/
/*    }*/

/*    #ourTeam-title p {*/
/*        font-size: 22px;*/
/*        margin: 0px 0 50px 0;*/
/*    }*/

/*    section#team div.photoContainer {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*        grid-template-columns: 50px 50px 50px;*/
/*        justify-content: space-evenly;*/
/*    }*/

/*    section#team div.photoContainer div.member {*/
/*        width: 150px;*/
/*    }*/

/*    .photo {*/
/*        width: 100%;*/
/*    }*/

/*    section#team :is(h2) {*/
/*        font-size: 17px;*/
/*    }*/

/*    section#team :is(h3) {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/

/*----------------FIN MEDIAQUERIES------------------------*/

section#team {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#ourTeam-title p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.1em;
    color: #18191A;
    margin-bottom: 50px;
}

section#team h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.1em;
    color: #18191A;
    margin: 5px 0;
}

section#team h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #18191A;
    margin: 0;
}

section#team .photoContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
}

section#team .photoContainer .member {
    width: 70%;
}

section#team .photoContainer .member .photo {
    width: 100%;
    max-width: 200px; /* Taille maximale des images */
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
    transition: 0.25s;
}

@media screen and (max-width: 1200px) {
    section#team .photoContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    section#team h2 {
        font-size: 15px;
    }

    section#team h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    section#team .photoContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    section#team h2 {
        font-size: 18px;
    }

    section#team h3 {
        font-size: 14px;
    }
}