section#ourWork {
    /* background: linear-gradient(180deg, #000 0%, #010209 63.54%); */
}

section#ourWork h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fcfafc;
    text-align: center;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-size: 1.25rem;
    font-family: Orbitron;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin: 50px 0;
}

section#ourWork p {
    color: #FFF;
    text-align: center;
    font-size: 0.7rem;
    font-family: Orbitron;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

section#ourWork {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

section#ourWork .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 15%;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    margin-top: 8%;
    flex: 1;
}

section#ourWork .cards .card {
    display: flex;
    flex-direction: column;
    width: 340px;
    align-items: center;
}

section div.content {
    padding: 15px;
    box-sizing: border-box;
    flex: 1;
}

section div.content.shrink {
    flex: 0.65;
}

section div.content.shrink.semi {
    flex: 0.88;
}

section#ourWork div.cards div.card div.cardContainer {
    display: flex;
    width: 110%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
    background-color: rgb(13, 21, 38, 0.8);
    background: rgb(13, 21, 38, 0.8);
    background: radial-gradient(circle, rgba(28, 53, 153, 0.8) 0%, rgba(13, 21, 38, 0.8) 80%, rgba(13, 21, 38, 0.8) 100%);
    backdrop-filter: blur(5px);
    transition: 0.25s;

}

section#ourWork div.cards div.card div.cardContainer.video {
    overflow: hidden;

}

section#ourWork div.cards div.card div.cardContainer.video :is(video, img, iframe) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/************************************* Media queries ********************************/

@media screen and (max-width: 1520px) {
    section#ourWork .cards .card {
        width: 300px;
    }
    section#ourWork .cards {
        gap: 11%;
    }
}

@media screen and (max-width: 1220px) {
    section#ourWork .cards .card {
        width: 255px;
        }
    section#ourWork .cards {
        gap: 8%;
    }
}

@media screen and (max-width: 970px) {
    section#ourWork .cards .card {
        width: 220px;
    }
    section#ourWork .cards {
        gap: 5%;
    }
}

@media screen and (max-width: 795px) {
    section#ourWork .cards .card {
        width: 150px;
    }
    section#ourWork h2 {
        font-size: 0.9rem;
    }
    section#ourWork p {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 660px) {
    section#ourWork .cards .card {
        width: 130px;
    }
    section#ourWork h2 {
        font-size: 0.7rem;
    }
    section#ourWork p {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    section#ourWork .cards .card {
        width: 110px;
    }
    section#ourWork h2 {
        font-size: 0.4rem;
        margin: 10px 0;
    }
    section#ourWork p {
        font-size: 0.3rem;
    }
}

/************************************************************************************/