section#WhatWeOffer {
    background: linear-gradient(180deg, #010209 42.71%, #020202 100%);
    display: block;
    transform: scale(0.85);
}

section#WhatWeOffer .divimages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 40px;

}

section#WhatWeOffer .image1 {
    width: 500px;
    height: 400px;
    background: url(./src/images/image1.png);
    background-repeat: no-repeat;
    padding-right: 40px;

}

section#WhatWeOffer #titre1 {
    color: #FFF;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;

}

section#WhatWeOffer #text1 {
    font-family: 'Orbitron';
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    padding-top: 40px;
}

section#WhatWeOffer .image2 {
    width: 500px;
    height: 400px;
    background: url(./src/images/image2.png);
    background-repeat: no-repeat;
    padding-right: 40px;

}

section#WhatWeOffer #titre2 {
    color: #FFF;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    padding-top: 110px;
}

section#WhatWeOffer #text2 {
    font-family: 'Orbitron';
    font-size: 16px;
    text-align: center;
    color: #FFFF;
}

section#WhatWeOffer .image3 {
    width: 500px;
    height: 400px;
    background: url(./src/images/image3.png);
    background-repeat: no-repeat;
    padding-right: 40px;

}

section#WhatWeOffer #titre3 {
    color: #FFF;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    padding-top: 90px;
}

section#WhatWeOffer #text3 {
    font-family: 'Orbitron';
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    padding-top: 50px;
}


section#WhatWeOffer .divimages2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#WhatWeOffer .image4 {
    width: 500px;
    height: 400px;
    background: url(./src/images/image4.png);
    background-repeat: no-repeat;
    padding-right: 40px;

}

section#WhatWeOffer #titre4 {
    color: #FFF;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    padding-top: 90px;
}

section#WhatWeOffer #text4 {
    font-family: 'Orbitron';
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    padding-top: 70px;
}

section#WhatWeOffer .image5 {
    width: 500px;
    height: 400px;
    background: url(./src/images/image5.png);
    background-repeat: no-repeat;
    padding-right: 40px;

}

section#WhatWeOffer #titre5 {
    color: #FFF;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    padding-top: 115px;
}

section#WhatWeOffer #text5 {
    font-family: 'Orbitron';
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    padding-top: 50px;
}

section#WhatWeOffer .image6 {
    width: 500px;
    height: 400px;
    background: url(./src/images/image6.png);
    background-repeat: no-repeat;
    padding-right: 40px;

}

section#WhatWeOffer #titre6 {
    color: #FFF;
    text-shadow: /* text stroke */ rgb(255, 72, 255) 2px 0px 0px, rgb(255, 72, 255) 1.75517px 0.958851px 0px, rgb(255, 72, 255) 1.0806px 1.68294px 0px, rgb(255, 72, 255) 0.141474px 1.99499px 0px, rgb(255, 72, 255) -0.832294px 1.81859px 0px, rgb(255, 72, 255) -1.60229px 1.19694px 0px, rgb(255, 72, 255) -1.97998px 0.28224px 0px, rgb(255, 72, 255) -1.87291px -0.701566px 0px, rgb(255, 72, 255) -1.30729px -1.5136px 0px, rgb(255, 72, 255) -0.421592px -1.95506px 0px, rgb(255, 72, 255) 0.567324px -1.91785px 0px, rgb(255, 72, 255) 1.41734px -1.41108px 0px, rgb(255, 72, 255) 1.92034px -0.558831px 0px,
        /* glow shadow */ 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 4px 4px rgba(132, 36, 132, 0.5), 0px 0px 15px rgb(255, 72, 255);
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    padding-top: 115px;
}

section#WhatWeOffer #text6 {
    font-family: 'Orbitron';
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    padding-top: 60px;
}

@media only screen and (max-width: 1450px) {
    section#WhatWeOffer {
        overflow: auto;
    }
    section#WhatWeOffer .divimages {
        flex-direction: column;
    }

    section#WhatWeOffer .divimages2 {
        flex-direction: column;
    }

    section#WhatWeOffer .image1 {
        padding-bottom: 40px;
    }

    section#WhatWeOffer .image2 {
        padding-bottom: 40px;
    }

    section#WhatWeOffer .image4 {
        padding-bottom: 40px;
    }

    section#WhatWeOffer .image5 {
        padding-bottom: 40px;
    }

}